
{
	"times": {
		#"Jan": { "Hours_total": 8*(5), "Hours_project": 0, "Desc": "This is \LaTeX Text."},
		#"Feb": { "Hours_total": 8*(5), "Hours_project": 0, "Desc": "This is \LaTeX Text1."},
		#"Mar": { "Hours_total": 8*(5), "Hours_project": 0, "Desc": "This is \LaTeX Text2."},
		#"Apr": { "Hours_total": 8*(5), "Hours_project": 0, "Desc": "This is \LaTeX Text2."},
		#"Mai": { "Hours_total": 8*(5), "Hours_project": 0, "Desc": "This is \LaTeX Text2."},
		#"Jun": { "Hours_total": 8*(5), "Hours_project": 0, "Desc": "This is \LaTeX Text2."},
		#"Jul": { "Hours_total": 8*(5), "Hours_project": 0, "Desc": "This is \LaTeX Text2."},
		#"Aug": { "Hours_total": 8*(5), "Hours_project": 0, "Desc": "This is \LaTeX Text2."},
		#"Sep": { "Hours_total": 8*(5), "Hours_project": 0, "Desc": "This is \LaTeX Text2."},
		#"Okt": { "Hours_total": 8*(5), "Hours_project": 0, "Desc": "This is \LaTeX Text2."},
		#"Nov": { "Hours_total": 8*(5), "Hours_project": 0, "Desc": "This is \LaTeX Text2."},
		#"Dez": { "Hours_total": 8*(5), "Hours_project": 0, "Desc": "This is \LaTeX Text2."},
	},
	"config": {
		"factor": 0.25,
		"carry_hours": 29,
	}
}
